*.iml
.gradle
.gradle/*
.gradle/
/local.properties

# IntelliJ IDEA
.idea/
.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/
!.idea/tasks/
!.idea/templates/
!.idea/workspace.xml
!.idea/modules.xml
!.idea/misc.xml
!.idea/vcs.xml
!.idea/encodings.xml
!.idea/compiler.xml
!.idea/libraries/
!.idea/caches/
!.idea/navEditor.xml
!.idea/assetWizardSettings.xml
!.idea/gradle.xml
!.idea/jarRepositories.xml
!.idea/artifacts/
!.idea/shelf/
!.idea/uiDesigner.xml
!.idea/deploymentTargetDropDown.xml
!.idea/render.experimental.xml
!.idea/scopes/
!.idea/toolbox.xml
!.idea/usage.statistics.xml
!.idea/watcherTasks.xml

.DS_Store
/build
/build/
/build/*
/captures
.externalNativeBuild
.cxx
local.properties
